In [1]:
def abs(num_list):
    abs_list = num_list[:] # copy it
    for i in range(len(abs_list)):
        if abs_list[i] < 0:
            abs_list[i] = -abs_list[i]
    return abs_list

abs([-1, -3, 5, -4, 8])

[1, 3, 5, 4, 8]

In [18]:
import time
import requests
time.time()

1606250002.454611

In [3]:
t1 = time.time()
t2 = time.time()
t2 - t1

5.3882598876953125e-05

In [17]:
t1 = time.time()

total = 0
limit = 9999999 # try changing this
for i in range(limit):
    total += i

t2 = time.time()

print("TOTAL:", total)
milliseconds = (t2-t1) * 1000
print("ms:", milliseconds)

TOTAL: 49999985000001
ms: 943.4540271759033

In [22]:
t1 = time.time()

import requests
r = requests.get("https://raw.githubusercontent.com/msyamkumar/cs220-f20-projects/master/lab-p12/hello.txt")
r.raise_for_status()
data = r.text

t2 = time.time()

milliseconds = (t2-t1) * 1000
print("ms:", milliseconds)

ms: 479.8758029937744

In [23]:
t1 = time.time()

f = open("hello.txt", "w", encoding="utf-8")
f.write(data)
f.close()

t2 = time.time()

milliseconds = (t2-t1) * 1000
print("ms:", milliseconds)

ms: 3.6618709564208984

In [24]:
t1 = time.time()

f = open("hello.txt", encoding="utf-8")
data = f.read()
f.close()

t2 = time.time()

milliseconds = (t2-t1) * 1000
print("ms:", milliseconds)

ms: 1.3072490692138672

In [32]:
import os

def download(filename, url):
    # We do not download again if the file already exists
    if os.path.exists(filename):
        return (str(filename) + " already exists!")

    r = requests.get(url)
    urltxt = r.text
    f = open(filename, "w")
    f.write(urltxt)
    f.close()
    
    return (str(filename) + " created!")

In [33]:
download("hello.html", "https://raw.githubusercontent.com/msyamkumar/cs220-f20-projects/master/lab-p12/hello.html")

'hello.html created!'

In [34]:
import pandas as pd
from pandas import DataFrame, Series

In [35]:
DataFrame([[1,2], [3,4]])

   0  1
0  1  2
1  3  4

In [36]:
DataFrame([{"x":1, "y":2},
           {"x":3, "y":4}])

   x  y
0  1  2
1  3  4

In [37]:
DataFrame({"x":[1,3],
           "y":[2,4]})

   x  y
0  1  2
1  3  4

In [38]:
DataFrame({"x":{"A":1,"B":3},
           "y":{"A":2,"B":4}})

   x  y
A  1  2
B  3  4