In [1]:
# project: p6
# submitter: Smwells3
# partner: none

In [2]:
import csv

# copied from https://automatetheboringstuff.com/chapter14/
def process_csv(filename):
    exampleFile = open(filename, encoding="utf-8")
    exampleReader = csv.reader(exampleFile)
    exampleData = list(exampleReader)
    exampleFile.close()
    return exampleData

# use process_csv to pull out the header and data rows
csv_rows = process_csv("airbnb.csv")
csv_header = csv_rows[0]
csv_data = csv_rows[1:]

def cell(row_idx, col_name):
    col_idx = csv_header.index(col_name)
    val = csv_data[row_idx][col_idx]
    if val == "":
        return None
    elif col_name == "room_id":
        val = int(val)
    elif col_name == "host_id":
        val = int(val)
    elif col_name == "latitude":
        val = float(val)
    elif col_name == "longitude":
        val = float(val)
    elif col_name == "price":
        val = int(val)
    elif col_name == "minimum_nights":
        val = int(val)
    elif col_name == "number_of_reviews":
        val = int(val)
    elif col_name == "reviews_per_month":
        val = float(val)
    elif col_name == "calculated_host_listings_count":
        val = int(val)
    elif col_name == "availability_365":
        val = int(val)
        
    return val

In [3]:
def neighborhood_groups():
    neighborhood = ""
    L = []
    for each in range(len(csv_data)):
        neighborhood = cell(each, "neighborhood_group")
        L.append(neighborhood)
    L = list(set(L))
    return L

In [4]:
#q1       
neighborhood_groups()

['Queens', 'Staten Island', 'Bronx', 'Brooklyn', 'Manhattan']

In [5]:
def avg_price():
    total_price = 0
    for each in range(len(csv_data)):
        total_price += cell(each, "price")
    return total_price / len(csv_data)

In [6]:
#q2
avg_price()

152.7206871868289

In [7]:
def num_rooms():
    total_rooms = 0
    for each in range(len(csv_data)):
        neighborhood = cell(each, "neighborhood")
        if neighborhood == "Chinatown":
            total_rooms += 1
    return total_rooms

In [8]:
#q3
num_rooms()

368

In [9]:
def word_check(word):
    L = []
    for each in range(len(csv_data)):
        room = cell(each, "name")
        new_room = ""
        if type(room) == str:
            new_room = room.lower()
            if word in new_room:
                L.append(room)
                L = list(set(L))
    return L

In [10]:
#q4
word_check("superbowl")

['Super Apt for Superbowl',
 'SuperBowl West Village Apartment',
 'Superbowl Studio Upper West Side',
 'Superbowl in the West Village',
 'Tribeca Loft for Superbowl Wknd',
 'SUPERBOWLSUNDAY! 3BLOCK FROM TIMESQ',
 'PERFECT SUPERBOWL STAY',
 'Downtown NY Apt - SuperBowl Weekend',
 '1BR Superbowl rental Hells Kitchen',
 'NYC SuperBowl Wk 5 Bdrs River View ',
 'SuperBowl Penthouse Loft 3,000 sqft',
 'Superbowl - NYC Apartment',
 'SuperBowl Weekend Rental! 3 BR/1ba',
 'UWS MANHATTAN APT FOR SUPERBOWL WE',
 'SUPERBOWL!! 2 Bd, 2 Ba w Roof Deck!',
 '1500 sq ft apt sleeps 8 - SuperBowl',
 'MANHATTAN SUPERBOWL ACCOMODATION']

In [11]:
#q5
word_check("dream room")

['Dream Room in Modern Apartment',
 'Lower East Dream Room!',
 'The Dream Room (Private Room)',
 'Exclusive Dream room 8 mins from JFK Smoking OK!',
 'KingSize Dream Room',
 'King Size Dream Room',
 'The Dream Room near Barclays Center',
 'DREAM ROOM: gorgegous renovated 1bd, 1 bath',
 'Dream Room in Sunnyside New York']

In [12]:
#q6
word_check("free wifi")

['One Bedroom Mini studio - Free WIFI',
 'J- LUXURY SHARED ROOM, AC FREE WIFI+CABLE GARDEN',
 'BIG BEDROOM CLOSE TO LA GUARDIA AIRPORT FREE WIFI',
 '*NO GUEST SERVICE FEE* Beekman Tower Studio with Queen Bed & Free Wifi',
 'J- *LUXURY SHARED ROOM AC FREE WIFI CABLE, GARDEN',
 'J- COZY ROOM FOR 1 FEMALE FREE WIFI & COFFEE',
 'Landmark 1 Bedroom has 2 beds, Free WiFi',
 '5min walk to L train - Free WiFi & Cleaning',
 'Newly renovated 2 bedroom with FREE WIFI',
 'Explore NYC From Our Private Studio w/Free Wifi',
 '*NO GUEST SERVICE FEE* Beekman Tower One Bedroom Suite with Queen Bed & Free Wifi',
 'Private Bedroom in MANHATTAN (Free Wifi)',
 'Private 2 BR APT: Free WIFI & JACUZZI',
 'J- **LUXURY SHARED ROOM 2PPL FREE WIFI+CABLE+AC',
 'J- HOTEL STYLE SHARE ROOM FOR 2PPL FREE WIFI CABLE',
 'Staten Island - Free Wifi, Parking Space, Near NYC',
 'Great Chelsea Location, Couch/2nd bed, Free WiFi',
 'Modern and Safe Place,Free Wifi',
 'Sunny Hudson Yards/ Chelsea Studio, Free WiFi',
 'PRIVATE 1BR APT: Free WIFI & DIRECT TV']

In [13]:
def landeyo():
    L = []
    s = {}
    landeyo = {"l","a","n","d","e","y","o"}
    host_name = ""
    for each in range(len(csv_data)):
        host_name = cell(each, "host_name")
        if type(host_name) == str:
            s = set(sorted(host_name.lower()))
            if s == landeyo:
                L.append(host_name)
    return L

In [14]:
#q7
landeyo()

['Yolande']

In [15]:
def min_nights_365():
    L = []
    min_nights = 0
    for each in range(len(csv_data)):
        min_nights = cell(each, "minimum_nights")
        if type(min_nights) == int:
            if min_nights > 365:
                L.append(str(cell(each, "room_id")))
    return L

In [16]:
#q8
min_nights_365()

['568684',
 '1615764',
 '4204302',
 '5431845',
 '6169897',
 '8341919',
 '8668115',
 '10053943',
 '11096888',
 '12888849',
 '20990053',
 '27362309',
 '30378211',
 '35834935']

In [17]:
def hosting_50():
    L = []
    host_listings = 0
    for each in range(len(csv_data)):
        host_listings = cell(each, "calculated_host_listings_count")
        if type(host_listings) == int:
            if host_listings > 50:
                L.append(str(cell(each, "host_id")))
    L = list(set(L))
    return L

In [18]:
#q9
hosting_50()

['107434423',
 '22541573',
 '219517861',
 '30283594',
 '1475015',
 '16098958',
 '7503643',
 '137358866',
 '200380610',
 '12243051',
 '61391963']

In [19]:
def cheapest_brooklyn():
    price = 0
    lowest_price = None
    for each in range(len(csv_data)):
        if cell(each, "neighborhood_group") == "Brooklyn":
            if type(cell(each, "price")) == int:
                price = cell(each, "price")
                if lowest_price == None or price < lowest_price:
                    lowest_price = price 
    return lowest_price
        
def all_cheapest():
    L = []
    cost = cheapest_brooklyn()
    for each in range(len(csv_data)):
        if cell(each, "neighborhood_group") == "Brooklyn":
            if cell(each, "price") == cost:
                L.append(cell(each, "name"))
    L = list(set(L))
    return L

In [20]:
#q10
all_cheapest()

['Sunny, Quiet Room in Greenpoint',
 'Cozy yet spacious private brownstone bedroom',
 'Modern apartment in the heart of Williamsburg',
 'Best Coliving space ever! Shared room.',
 'Spacious comfortable master bedroom with nice view',
 'Huge Brooklyn Brownstone Living, Close to it all.',
 'Coliving in Brooklyn! Modern design / Shared room',
 'MARTIAL LOFT 3: REDEMPTION (upstairs, 2nd room)',
 'Contemporary bedroom in brownstone with nice view']

In [21]:
def cheapest_Manhattan():
    price = 0
    lowest_price = None
    for each in range(len(csv_data)):
        if cell(each, "neighborhood_group") == "Manhattan":
            if type(cell(each, "price")) == int:
                price = cell(each, "price")
                if lowest_price == None or price < lowest_price:
                    lowest_price = price 
    return lowest_price
        
def cheap_Manhattan():
    L = []
    cost = cheapest_Manhattan()
    for each in range(len(csv_data)):
        if cell(each, "neighborhood_group") == "Manhattan":
            if cell(each, "price") == cost:
                L.append(cell(each, "name"))
    L = list(set(L))
    return L

In [22]:
#q11
cheap_Manhattan()

['the best you can find']

In [23]:
def avg_ratio():
    L = []
    ratio = 0
    count = 0
    total_ratio = 0
    for each in range(len(csv_data)):
        if cell(each, "availability_365") != 0:
            ratio = cell(each, "number_of_reviews") / cell(each, "availability_365")
            total_ratio += ratio
            count += 1
    return total_ratio / count

In [24]:
#q12
avg_ratio()

1.022127111023942

In [25]:
def cost_finder():
    latitude = 0
    longitude = 0
    cheapest = None
    cost = 0
    for each in range(len(csv_data)):
        latitude = cell(each, "latitude")
        longitude = cell(each, "longitude")
        cost = cell(each, "price")
        if 40.50 <= latitude <= 40.75 and -74.00 <= longitude <= -73.95:
            if cheapest == None or cost < cheapest:
                cheapest = cost
    return cheapest


def cheap_within():
    L = []
    cost = cost_finder()
    latitude = 0
    longitude = 0
    for each in range(len(csv_data)):
        latitude = cell(each, "latitude")
        longitude = cell(each, "longitude")
        if 40.50 <= latitude <= 40.75 and -74.00 <= longitude <= -73.95:
            if cell(each, "price") == cost:
                L.append(str(cell(each, "room_id")))
    L = list(set(L))
    return L

In [26]:
#q13
cheap_within()

['18750597']

In [27]:
def cost_finder2():
    latitude = 0
    longitude = 0
    cheapest = None
    cost = 0
    for each in range(len(csv_data)):
        latitude = cell(each, "latitude")
        longitude = cell(each, "longitude")
        cost = cell(each, "price")
        if 40.75 <= latitude <= 41.00 and -73.95 <= longitude <= -73.85:
            if cheapest == None or cost < cheapest:
                cheapest = cost
    return cheapest


def cheap_within2():
    L = []
    cost = cost_finder()
    latitude = 0
    longitude = 0
    for each in range(len(csv_data)):
        latitude = cell(each, "latitude")
        longitude = cell(each, "longitude")
        if 40.75 <= latitude <= 41.00 and -73.95 <= longitude <= -73.85:
            if cell(each, "price") == cost:
                L.append(str(cell(each, "room_id")))
    L = list(set(L))
    return L

In [28]:
#q14
cheap_within2()

['20333471']

In [29]:
def avg_price_30():
    L = []
    reviews = 0
    total_price = 0
    count = 0
    for each in range(len(csv_data)):
        reviews = cell(each, "number_of_reviews")
        if reviews > 300:
            total_price += cell(each, "price")
            count += 1
    return total_price / count

In [30]:
#q15
avg_price_30()

105.51515151515152

In [31]:
def avg_reviews_1000():
    L = []
    price = 0
    total_reviews = 0
    count = 0
    for each in range(len(csv_data)):
        price = cell(each, "price")
        if price > 1000:
            total_reviews += cell(each, "number_of_reviews")
            count += 1
    return total_reviews / count

In [32]:
#q16
avg_reviews_1000()

6.410041841004184

In [33]:
def updated_word_check(word):
    L = []
    for each in range(len(csv_data)):
        room = cell(each, "name")
        if type(room) == str:
            room = room.lower()
            if word in room:
                L.append(room)
    return L

In [34]:
def x_y(x, y):
    L = []
    for each in range(len(csv_data)):
        room = cell(each, "name")
        if type(room) == str:
            room = room.lower()
            if x in room:
                if y in room:
                    L.append(room)
    return L

In [35]:
#q17
len(x_y("sweet", "home")) / len(updated_word_check("sweet")) * 100

30.569948186528496

In [36]:
#q18
len(x_y("pool", "gym")) / len(updated_word_check("pool")) * 100

48.92086330935252

In [37]:
#q19
len(x_y("five", "stars")) / len(updated_word_check("five")) * 100

10.0

In [38]:
def expensive_Manhattan():
    price = 0
    highest_price = 0
    for each in range(len(csv_data)):
        if cell(each, "neighborhood_group") == "Manhattan":
            if type(cell(each, "price")) == int:
                price = cell(each, "price")
                if price > highest_price:
                    highest_price = price 
                    index = each
    return cell(index, "minimum_nights") * highest_price

def expensive_Brooklyn():
    price = 0
    highest_price = 0
    index = 0
    for each in range(len(csv_data)):
        if cell(each, "neighborhood_group") == "Brooklyn":
            if type(cell(each, "price")) == int:
                price = cell(each, "price")
                if price > highest_price:
                    highest_price = price
                    index = each
    return highest_price * cell(index, "minimum_nights")

In [39]:
#q20
expensive_Manhattan() + expensive_Brooklyn()

350000