In [1]:
import csv

# copied from https://automatetheboringstuff.com/chapter14/
def process_csv(filename):
    exampleFile = open(filename, encoding="utf-8")
    exampleReader = csv.reader(exampleFile)
    exampleData = list(exampleReader)
    exampleFile.close()
    return exampleData

# use process_csv to pull out the header and data rows
csv_rows = process_csv("airbnb.csv")
csv_header = csv_rows[0]
csv_data = csv_rows[1:]

In [2]:
csv_header

['room_id',
 'name',
 'host_id',
 'host_name',
 'neighborhood_group',
 'neighborhood',
 'latitude',
 'longitude',
 'room_type',
 'price',
 'minimum_nights',
 'number_of_reviews',
 'last_review',
 'reviews_per_month',
 'calculated_host_listings_count',
 'availability_365']

In [3]:
len(csv_data)

48895

In [4]:
csv_data[:5]

[['2539',
  'Clean & quiet apt home by the park',
  '2787',
  'John',
  'Brooklyn',
  'Kensington',
  '40.64749000000001',
  '-73.97237',
  'Private room',
  '149',
  '1',
  '9',
  '2018-10-19',
  '0.21',
  '6',
  '365'],
 ['2595',
  'Skylit Midtown Castle',
  '2845',
  'Jennifer',
  'Manhattan',
  'Midtown',
  '40.75362',
  '-73.98376999999998',
  'Entire home/apt',
  '225',
  '1',
  '45',
  '2019-05-21',
  '0.38',
  '2',
  '355'],
 ['3647',
  'THE VILLAGE OF HARLEM....NEW YORK !',
  '4632',
  'Elisabeth',
  'Manhattan',
  'Harlem',
  '40.80902',
  '-73.9419',
  'Private room',
  '150',
  '3',
  '0',
  '',
  '',
  '1',
  '365'],
 ['3831',
  'Cozy Entire Floor of Brownstone',
  '4869',
  'LisaRoxanne',
  'Brooklyn',
  'Clinton Hill',
  '40.68514',
  '-73.95976',
  'Entire home/apt',
  '89',
  '1',
  '270',
  '2019-07-05',
  '4.64',
  '1',
  '194'],
 ['5022',
  'Entire Apt: Spacious Studio/Loft by central park',
  '7192',
  'Laura',
  'Manhattan',
  'East Harlem',
  '40.79851',
  '-73.94399',
  'Entire home/apt',
  '80',
  '10',
  '9',
  '2018-11-19',
  '0.1',
  '1',
  '0']]

In [5]:
csv_data[0]

['2539',
 'Clean & quiet apt home by the park',
 '2787',
 'John',
 'Brooklyn',
 'Kensington',
 '40.64749000000001',
 '-73.97237',
 'Private room',
 '149',
 '1',
 '9',
 '2018-10-19',
 '0.21',
 '6',
 '365']

In [6]:
csv_data[0][3]

'John'

In [7]:
csv_header.index("neighborhood_group")

4

In [8]:
csv_data[0][csv_header.index("neighborhood_group")]

'Brooklyn'

In [9]:
letters = ["A", "B", "C", "D"]
print(letters.index("C"))

2

In [12]:
print(csv_data[1][4])
print(csv_data[2][5])

Manhattan
Harlem

In [16]:
print(csv_data[0][csv_header.index("neighborhood_group")]) 
print(csv_data[1][csv_header.index("host_name")]) 
print(csv_data[2][csv_header.index("name")])

Brooklyn
Jennifer
THE VILLAGE OF HARLEM....NEW YORK !

In [30]:
def cell(row_idx, col_name):
    col_idx = csv_header.index(col_name)
    val = csv_data[row_idx][col_idx]
    if val == "":
        return None
    elif col_name == "room_id":
        val = int(val)
    elif col_name == "host_id":
        val = int(val)
    elif col_name == "latitude":
        val = float(val)
    elif col_name == "longitude":
        val = float(val)
    elif col_name == "price":
        val = int(val)
    elif col_name == "minimum_nights":
        val = int(val)
    elif col_name == "number_of_reviews":
        val = int(val)
    elif col_name == "reviews_per_month":
        val = float(val)
    elif col_name == "calculated_host_listings_count":
        val = int(val)
    elif col_name == "availability_365":
        val = int(val)

     #optional: convert types based on column name?
    return val

In [31]:
cell(0,"neighborhood")

'Kensington'

In [32]:
cell(1,"name")

'Skylit Midtown Castle'

In [33]:
cell(2,"price")

150

In [34]:
cell(3,"latitude")

40.68514

In [35]:
letters = ["B", "C", "A"]
result = letters.sort()

print("original list:", letters)
print("returned value:", result)

original list: ['A', 'B', 'C']
returned value: None

In [36]:
letters = ["B", "C", "A"]
result = sorted(letters)

print("original list:", letters)
print("returned value:", result)

original list: ['B', 'C', 'A']
returned value: ['A', 'B', 'C']

In [37]:
s = "BCA"
result = sorted(s)

print("original value:", s)
print("returned value:", result)

original value: BCA
returned value: ['A', 'B', 'C']

In [38]:
letters = ["B", "C", "A"]
result = letters.pop(0)

print("original list:", letters)
print("returned value:", result)

original list: ['C', 'A']
returned value: B

In [44]:
example_list = ["A", "B", "C"]
print(example_list)
example_set = {"A", "B", "C"}
print(example_set)

['A', 'B', 'C']
{'B', 'C', 'A'}

In [46]:
"A" in example_list

True

In [47]:
"A" in example_set

True

In [48]:
example_list[0]  # works
example_set[0]

TypeError: 'set' object is not subscriptable

In [49]:
["A", "B", "C"] == ["C", "B", "A"]

False

In [50]:
{"A", "B", "C"} == {"C", "B", "A"}

True

In [51]:
items = [1,2,4]
items_set = set(items)
print(items_set)

{1, 2, 4}

In [52]:
items = {4,2,1}
items_list = list(items)
print(items_list)

[1, 2, 4]

In [53]:
x = 3.8
y = float(int(x))
print(y)

3.0

In [54]:
list_1 = ["A", "A", "B", "B", "C", "B", "A"] # try playing with different values here
list_2 = list(set(list_1))
print(list_2)

['B', 'C', 'A']